//- This is a comment
//-Rarara Rasputin!

extends layout

block content
    .search-area
        .jumbotron
            .col-md-6 
                h2 Please enter your search term:
            .col-md-4
                div.form-group
                    label(for='searchLabel') Name of Product:
                    input#name.form-control(type='text', placeholder='Please enter search term(s)')
                    label(for='textLabel') Output:
                    textArea#output.form-control(type='text', placeholder='Results...')
                #search.btn.btn-primary Search!
        .row
            .col-md-12
                h2 Results page:
                textArea#outputDisplay.form-control(type='text', placeholder='Formatted results displayed here...')

block scripts
     script. 
         $('#search').on('click', function(){
            console.log('Fire the torpedos!!!');

            output.placeholder = 'Banana';
            output.innerHTML = 'Winging it!'
            var name = $('#name').val();

            var returnSearchedName = {
                name: name
            };
            output.innerHTML = returnSearchedName.name;
            outputDisplay.innerHTML = "Direct hit!!";

            $.post('/api/products/search', returnSearchedName, function(response){
                

                console.log('resp[0].id: ' + response[0].id);
                for (i = 0; i < response.length; i++)
                {
                    if (i === 0)
                    {
                        outputDisplay.innerHTML = "";
                    }
                    var insertHtml = "+-------Amazon item #" + (i + 1) + "--------+\n";
                    insertHtml += "ID: " + response[i].id + "\n";
                    insertHtml += "NAME: " + response[i].name + "\n";
                    insertHtml += "PRICE" + response[i].price + "\n";
                    insertHtml += "CATEGORY" + response[i].category + "\n";
                    insertHtml += "URL" + response[i].url + "\n";
                    insertHtml += "IMAGEURL" + response[i].imageUrl;
                    insertHtml += "PROVIDED BY: " + response[i].provider + "\n";
                    outputDisplay.innerHTML += insertHtml;
                }
            });
        })