//- This is a comment
//-Rarara Rasputin!

extends layout

block content
    .search-area
        .jumbotron
            .col-md-6 
                h2 Please enter your search term:
            .col-md-4
                div.form-group
                    label(for='searchLabel') Name of Product:
                    input#name.form-control(type='text', placeholder='Please enter search term(s)')
                    label(for='textLabel') Output:
                    textArea#output.form-control(type='text', placeholder='Results...')
                #search.btn.btn-primary Search!
        .row
            .col-md-12
                h2 Results page:
                textArea#outputDisplay.form-control(type='text', placeholder='Formatted results displayed here...')

block scripts
     script. 
         $('#search').on('click', function(){
            console.log('Fire the torpedos!!!');

            output.placeholder = 'Banana';
            output.innerHTML = 'Winging it!'
            var name = $('#name').val();

            var returnSearchedName = {
                name: name
            };
            output.innerHTML = returnSearchedName.name;
            outputDisplay.innerHTML = " ";

            $.post('/api/products/search', returnSearchedName, function(resp){
                

                console.log('resp[0].id: ' + resp[0].id);
                console.log('resp[1].id: ' + resp[1].id);
                 for (i = 0; i < resp[0].length; i++)
                {
                    if (i === 0)
                    {
                        outputDisplay.innerHTML = "";
                    }
                    insertHtml = "===========Amazon ITEM #" + (i + 1) + "===========\n";
                    insertHtml += "ID: " + resp[0][i].id + "\n";
                    insertHtml += "NAME: " + resp[0][i].name + "\n";
                    insertHtml += "PRICE" + resp[0][i].price + "\n";
                    insertHtml += "CATEGORY" + resp[0][i].category + "\n";
                    insertHtml += "URL" + resp[0][i].url + "\n";
                    insertHtml += "IMAGEURL" + resp[0][i].imageUrl;
                    insertHtml += "PROVIDED BY: " + resp[0][i].provider + "\n";
                    outputDisplay.innerHTML += insertHtml;
                }
                for (i = 0; i < resp[1].length; i++)
                {
                    if (i === 0)
                    {
                        outputDisplay.innerHTML += "/n";
                    }
                    var insertHtml = "===========Ebat ITEM #" + (i + 1) + "===========\n";
                    insertHtml += "ID: " + resp[1][i].id + "\n";
                    insertHtml += "NAME: " + resp[1][i].name + "\n";
                    insertHtml += "PRICE" + resp[1][i].price + "\n";
                    insertHtml += "CATEGORY" + resp[1][i].category + "\n";
                    insertHtml += "URL" + resp[1][i].url + "\n";
                    insertHtml += "IMAGEURL" + resp[1][i].imageUrl;
                    insertHtml += "PROVIDED BY: " + resp[1][i].provider + "\n";
                    outputDisplay.innerHTML += insertHtml;
                }
                for (i = 0; i < resp[2].length; i++)
                {
                    if (i === 0)
                    {
                        outputDisplay.innerHTML += "/n";
                    }
                    var insertHtml = "===========Ebat ITEM #" + (i + 1) + "===========\n";
                    insertHtml += "ID: " + resp[2][i].id + "\n";
                    insertHtml += "NAME: " + resp[2][i].name + "\n";
                    insertHtml += "PRICE" + resp[2][i].price + "\n";
                    insertHtml += "CATEGORY" + resp[2][i].category + "\n";
                    insertHtml += "URL" + resp[2][i].url + "\n";
                    insertHtml += "IMAGEURL" + resp[2][i].imageUrl;
                    insertHtml += "PROVIDED BY: " + resp[2][i].provider + "\n";
                    outputDisplay.innerHTML += insertHtml;
                }
            });
        })